[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-environ = "*"
werkzeug = "*"
django-extensions = "*"
pyopenssl = "*"

[dev-packages]

[requires]
